@import "../../../globals.scss";

.CabinetSection {
  display: flex;
  gap: 0.5rem;
  img {
    height: 3.2rem;
  }

  li {
    font-size: 70%;
  }

  a {
    text-decoration: none;
    color: $theme--dark;
  }

  a:hover {
    text-decoration: underline;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .cabinet-image {
    width: 3.2rem;
    animation: spin 2s linear infinite;
  }
}
